@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazir.eot");
  src: url("../public/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Vazir.woff2") format("woff2"),
    url("../public/fonts/Vazir.woff") format("woff"),
    url("../public/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazir";
}
body {
  background: var(--bodyColor);
}

:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --secondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --grayText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.section {
  padding: 4rem 0 2rem;
}
.container {
  padding: 0 1.5rem;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--secondaryColor);
}

img,
video {
  width: 100%;
  height: auto;
}
input {
  font-size: 100%;
}
/* MEDIA QUERIES ==============> */
@media screen and (min-width: 1240px) {
  .container {
    width: 80% !important;
    margin: auto;
  }
  .section {
    padding: 6rem 0 4rem;
  }
}
@media screen and (min-width: 2560px){
  body{
    zoom: 1.7;
  }
}
